<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Send The Feel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Reenie+Beanie&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <header
        class="sticky z-10 top-0 left-0 w-full px-4 py-4 flex items-center justify-center bg-white border-b border-gray-300">
        <div class="flex items-center justify-between w-full max-w-6xl">
            <div>
                <p class="text-xl lg:text-2xl font-hand">stf</p>
            </div>
            <div class="flex flex-row items-center space-x-5">
                <a href="/submit" class="text-sm text-gray-950">Submit</a>
                <a href="/browse" class="text-sm text-gray-950">Browse</a>
                <a href="/history" class="text-sm text-gray-950">History</a>
                <a href="/support" class="text-sm text-gray-950 underline">Support</a>
            </div>
        </div>
    </header>
    <main class="w-full max-w-6xl space-y-5 mx-auto pt-4 pb-8 sm:pt-8 sm:pb-11 px-4">
        <div
            class="flex items-start justify-center text-justify flex-col max-w-xl w-full mx-auto sm:items-center sm:text-center">
            <div
                class="mb-4 font-[600] text-[32px] leading-[36px] tracking-[-0.025em] text-gray-950 sm:mb-5 sm:text-[48px] sm:leading-[48px]">
                Support&nbsp;&nbsp;Us</div>
            <div
                class="mb-6 font-[400] text-[14px] leading-[22px] tracking-[-0.005em] text-gray-700 sm:mb-7 sm:text-[16px] sm:leading-[26px]">
                SendTheFeel is and will always be completely free to use! However, if you'd like to support the
                development and server costs, you can make a voluntary contribution. Any amount is deeply appreciated
                and helps keep this service running smoothly for everyone :)</div>
        </div>
    </main>
    <div class="mt-auto">
        <div class="mx-auto py-8 border-t border-[#D9D9D9] sm:px-6">
            <div class="flex flex-col items-center justify-center space-y-4">
                <div class="flex space-x-6"><a class="text-xs text-gray-950 hover:underline sm:text-sm" target="_blank"
                        rel="noopener noreferrer" href="https://www.instagram.com/ammaricano">Instagram</a>
                        <a
                        class="text-xs text-gray-950 hover:underline sm:text-sm" target="_blank"
                        rel="noopener noreferrer" href="https://wa.me/62895702633030">Send Feedback</a>
                        <a href="/support"
                        class="text-xs text-gray-950 hover:underline sm:text-sm inactive" link="">Support</a></div>
                <div class="text-[10px] text-gray-950 sm:text-xs">© ammaricano. All Rights Reserved.</div>
            </div>
        </div>
    </div>
</body>

</html>
